
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="about-us">
    <div class="container text-center" style="margin-top:140px;">
        <h1 class="mb-3 fw-bold about-us-title text-capitalize">the story behind our Shop</h1>
        <p class="about-us-short-description mb-4">
            XYZ is an innovative agri-fin-tech startup that intends to connect smallholder farmers with their consumers and investors in promoting a symbiotic relationship through technology-powered safe and organic farming practices that ensures food safety and environmental sustainability.
        </p>
        <img src="~/Images/aboutUsMainPhoto.png" class="about-us-main-photo" alt="about us">
    </div>
    <div class="container mt-60  second-section">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h2 class="fw-bold section-title text-capitalize">our roots: the story behind our start</h2>
                <p class="pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias non laborum fugit quae soluta, eveniet recusandae quas consectetur deserunt iusto culpa commodi! Vel vero numquam ipsam eveniet quod architecto saepe!</p>
                <div>
                    <a href="#" class="get-access-now rounded-pill">Learn More</a>
                </div>

            </div>
            <div class="col-md-6 mt-5 text-center">
                <img src="~/Images/aboutUsSubPhoto.png" class="about-us-sub-photo" alt="about-us">
            </div>
        </div>
    </div>
    <div class="container mt-60 third-section">
        <h2 class="section-title py-3 mb-60 fw-bold text-capitalize text-center h2-large-line-height">family-grown uninterruptedly for over 1 generations</h2>
        <div class="row our-details p-5">
            <div class="col-12 mb-4">
                <h5 class="fw-bold text-capitalize mb-3">our goal</h5>
                <p> We are working on the Millennium Development Goals. Ensuring food safety and food security, Sustainability, Climate Change, Environment </p>
            </div>
            <div class="col-12 mb-4">
                <h5 class="fw-bold mb-3 text-capitalize">our vision</h5>
                <p>Promoting food safety and creating economic opportunity for every member in the society (by supporting smallholder farmers with necessary funds from ordinary investors along with expert advice and support in adopting technology-enhanced, sustainable and climate-smart farming practices).</p>
            </div>
            <div class="col-12">
                <h5 class="fw-bold mb-3 text-capitalize">our mission</h5>
                <p class="mb-0">
                    Connect the farmers with investors, consumers and cutting-edge technologies to make them more productive and successful.
                </p>
            </div>
        </div>
    </div>
    <div class="container fourth-section" style="margin-top:60px;">
        <h2 class="fw-bold pt-3 section-title h2-large-line-height text-capitalize mx-sm-5 text-center">what makes our xyz incredible unique?</h2>
        <div class="unique-list-feature" style="margin-top:60px;">
            <div class="unique-feature-item first text-center">
                <div class="text-center"> <img class="mb-3 unique-feature-logo" src="~/Images/farmnet-ellipselogo.svg" alt="elipse logo"></div>

                <p class="mb-1 fw-bold text-capitalize"><strong>Xyz owned</strong></p>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum placeat sint deserunt nobis at, quam quo, neque vero accusantium velit culpa suscipit? Exercitationem deserunt quasi porro laudantium fuga nemo quod.</p>
            </div>
            <div class="unique-feature-item text-center">
                <div class="text-center"> <img class="mb-3 unique-feature-logo" src="~/Images/farmnet-ellipselogo.svg" alt="elipse logo"></div>
                <p class=" mb-1 fw-bold text-capitalize"><strong>Xyz owned</strong></p>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum placeat sint deserunt nobis at, quam quo, neque vero accusantium velit culpa suscipit? Exercitationem deserunt quasi porro laudantium fuga nemo quod.</p>
            </div>
            <div class="unique-feature-item text-center">
                <div class="text-center"> <img class="mb-3 unique-feature-logo" src="~/Images/farmnet-ellipselogo.svg" alt="elipse logo"></div>
                <p class="mb-1 fw-bold text-capitalize"><strong>Xyz owned</strong></p>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum placeat sint deserunt nobis at, quam quo, neque vero accusantium velit culpa suscipit? Exercitationem deserunt quasi porro laudantium fuga nemo quod.</p>
            </div>
            <div class="unique-feature-item text-center">
                <div class="text-center"> <img class="mb-3 unique-feature-logo" src="~/Images/farmnet-ellipselogo.svg" alt="elipse logo"></div>
                <p class="mb-1 fw-bold text-capitalize"><strong>Xyz owned</strong></p>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum placeat sint deserunt nobis at, quam quo, neque vero accusantium velit culpa suscipit? Exercitationem deserunt quasi porro laudantium fuga nemo quod.</p>
            </div>
            <div class="unique-feature-item text-center">
                <div class="text-center"> <img class="mb-3 unique-feature-logo" src="~/Images/farmnet-ellipselogo.svg" alt="elipse logo"></div>
                <p class="fw-bold text-capitalize mb-1"><strong>Xyz owned</strong></p>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum placeat sint deserunt nobis at, quam quo, neque vero accusantium velit culpa suscipit? Exercitationem deserunt quasi porro laudantium fuga nemo quod.</p>
            </div>
            <div class="unique-feature-item last text-center">
                <div class="text-center"> <img class="mb-3 unique-feature-logo" src="~/Images/farmnet-ellipselogo.svg" alt="elipse logo"></div>
                <p class="mb-1 fw-bold text-capitalize"><strong>Xyz owned</strong></p>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum placeat sint deserunt nobis at, quam quo, neque vero accusantium velit culpa suscipit? Exercitationem deserunt quasi porro laudantium fuga nemo quod.</p>
            </div>

        </div>
    </div>
</div>

